// Header

.logo-wrapper{
	padding: 20px;
	overflow: hidden;
	width: 100%;

	@include wider-than(desktop) {
		margin: 40px auto 20px;
		padding: 20px 0;
	}
}

.site-branding{
	max-width: $max-width;
	margin: 0 auto;
	padding: 0;
	position: relative;
}

.site-title{
	display: block;
	font-family: 'open sans', helvetica, arial;
	font-size: 30px;
	font-weight: 700;
	float: left;
	text-align: center;
	text-transform: uppercase;

	a {
		color: $brand-color;

		&:hover {
			color: #999;
		}
	}

}

