// Header
#masthead {
	max-width: $max-width;
	margin: 0 auto;
	position: relative;

	.site-branding{
		display: block;
		float: left;
		text-transform: uppercase;
	}

	.site-title {
		font-family: $font-sans;
		font-size: 30px;
		font-weight: 800;
		line-height: 1.26316;
		letter-spacing: -0.01em;
		margin: 0;
		padding: 10px 0;

		a {
			color: $brand-color;

			&:hover {
				color: #999;
			}
		}
	}

	@include wider-than(tablet) {
		padding: 10px;
	}

	@include wider-than(desktop) {
		padding: 10px 0;
	}
}

