// Homepage
.page-template-homepage-template-php {

	.page-title {
		color: #382400;
		font-weight: 100;
		text-align: center;
		@include rem(font-size, 32px);

		@include wider-than(desktop) {
			@include rem(font-size, 48px);
		}
	}

	.page-content {
		text-align: center;
		@include rem(font-size, 16px);
	}

	.hentry {
		margin: 0;
		padding: 0;
	}
}

.portfolio-filter {
	overflow: hidden;
	text-transform: uppercase;
	@include rem(font-size, 14px);

	ul {
		margin: 0 0 2em;
		padding: 0;
		text-align: center;
		width: 100%;

		li {
			background: #f0f0f0;
			color: #999;
			cursor: pointer;
			display: inline-block;
			list-style-type: none;
			margin: 0 1em 1em 0;
			padding: .2em .5em;
			text-align: center;

			&:first-child {
				margin-right: .8em;
			}

			&:focus,
			&:hover {
				color: #000;
			}
		}
	}
}

.portfolio {
	.type-jetpack-portfolio{
		float: left;
		margin: 0 -1px -1px 0;
		width: 100%;

		@include wider-than(tablet) {
			max-width: 100%;
			min-height: inherit;
		}

		@include wider-than(desktop) {
			max-width: 239px;
			max-height: 180px;
		}

		img {
			display: block;
		}

		&:hover {
			background: #000;
			opacity: .6;
			transition: all .4s ease-in-out;
			-webkit-transition: all .4s ease-in-out;
			-moz-transition: all .4s ease-in-out;
			-o-transition: all .4s ease-in-out;
		}
	}
}
