// Navigation

// Links
a {
	color: $color-link;
	text-decoration: none;

	&:hover {
		transition: all .4s ease-in-out;
		-webkit-transition: all .4s ease-in-out;
		-moz-transition: all .4s ease-in-out;
		-o-transition: all .4s ease-in-out;
	}

	&:hover,
	&:focus,
	&:active {
		color: $color-link-hover;
	}
}

// Main Menu top level
.main-navigation {
	float: right;
	max-width: 500px;
	font-family: $font-sans;
	font-weight: 400;
	letter-spacing: 1px;
	text-transform: uppercase;
	padding: 18px 0 0;
	@include rem(font-size, 14px);
 
	ul {
		list-style: none;
		margin: 0;
		padding-left: 0;
 
		li:hover > ul {
			left: auto;
		}
	}
 
	li {
		float: left;
		margin-left: 14px;
		position: relative;
	}
	
	a {
		display: block;
		text-decoration: none;
	}
}
 
// Main Menu second level
.main-navigation {
 
	ul ul {
		background: #fff;
		box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
		float: left;
		padding: 14px 8px 8px;
		position: absolute;
		top: 1.5em;
		left: -999em;
		z-index: 99999;
 
		ul {
			left: -999em;
			top: 0;
		}
 
		li {
 
			&:hover > ul {
				left: 100%;
			}
		}
 
		a {
			width: 200px;
		}
	}
}

// Small menu
.menu-toggle {
	display: none;
}

@media (tablet) {
	.menu-toggle {
		background: #333;
		display: block;
		letter-spacing: 1px;
		margin: 0 auto;
		text-align: center;
		text-transform: uppercase;
		@include rem(font-size, 13px);
	}

	.main-navigation {
		float: none;
		margin: 0 auto 14px;
		position: relative;
	}

	.main-navigation.toggled .nav-menu {
		background: #333;
		display: block;
		float: none;
		margin-left: auto;
		margin-right: auto;
		padding: 10px;
		position: absolute;
 		left: 0;
    	right: 0;
    	width: 60%;

		li {
			float: none;
		}

		a {
			color: #fff;

			&:hover {
				color: #ddd;
			}
		}
	}

	.main-navigation ul {
		display: none;
		float: none;
		margin: 0 auto;
	}

	.menu-main-container {
		clear: left;
		float: right;
	}
}

// Navigation
.nav-links {
	clear: both;
	margin: 0;
	overflow: hidden;
	text-transform: uppercase;
	@include rem(font-size, 13px);

	.nav-previous {
		float: left;
		width: 50%;
	}

	.nav-next {
		float: right;
		text-align: right;
		width: 50%;
	}
}
